* {
    margin: 0;
    padding: 0;
    scrollbar-color: var(--secondary) #f5f5f5;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 10px;
    padding-bottom: 50px;
}

html,
body {
    /* background-color: rgb(108 117 125 / 0.05); */
    width: 100%;
    height: 100%;
    font-size: 14px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-logo {
    font-size: 3rem;
}

.site-title {
    font-size: 2rem;
    color: var(--white);
    font-weight: 700;
    margin-left: 5px;
    display: inline-block;
}

.container {
    /* display: flex;
    flex-direction: column;
    height: 100%; */
    padding: 15px;
}


/* section>.row {
    height: 100%;
}

section>.row>[class*=col] {
    height: 100%;
} */

.personal-info-sec {
    padding: 20px;
    background-color: rgb(108 117 125 / 20%);
}

.profile-img-box {
    margin-bottom: 25px;
}

.profile-img-box img {
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.details-list {
    margin: 0;
    list-style: none;
}

.details-list li {
    margin-bottom: 25px;
}

.my-details-sec {
    padding: 15px;
}

.intro-para {
    font-size: 1.2rem;
}

.labelTxt {
    color: var(--gray);
    margin-bottom: 8px;
}

.labelTxt i {
    margin-right: 5px;
    opacity: 0.6;
}

.valueTxt {
    font-weight: bold;
    margin: 0;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {

    .table td,
    .table th {
        padding: 0.3rem;
        vertical-align: middle;
    }
}